<!DOCTYPE html>
<html>

<head>
    <!-- Title -->
    <title>{{title}} Test</title>

    <!-- Meta Tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

    <!-- Linking CSS -->
    <link rel="stylesheet" href="css/main.css" />
    <link rel="icon" type="image/gif" href="images/favicon.jpg" />

    <!-- No Script -->
    <noscript>
        <link rel="stylesheet" href="css/noscript.css" /></noscript>

    <!-- JQuery -->
    <script src="js/jquery.min.js"></script>

    <!-- Particle.js-->
    <script src="js/particles.min.js"></script>

    <!-- reCaptcha -->
    {{!-- <script src="https://www.google.com/recaptcha/api.js?render=6Ld_gsYUAAAAAKyxXO0Cn1wezKzIWutm8fuG_gdb"></script> --}}

</head>

<body>

    <div id="preloader"></div>

    <div id="particles-js"></div>

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Header -->
        <header id="header">
            <img class="img-responsive logo" src="images/Logo_White.png" alt="Logo" />
            <div>
                <h3 id="demo" style="color: red;float: right;">
                </h3>
                <h3 style="float: right;">
                    Time Left:</h3>
            </div>
            <div class="content">
                <div class="inner">
                    <h1><span class="dom">{{dom}}</span> Domain: <span class="dom-title">{{title}}</span> </h1>
                    <div class="fields">
                        {{#if ques}}
                        {{#each ques}}
                        <p hidden class="ques1">{{this}}</p>
                        <strong>
                            <b>
                                <p class="ques" style="text-align: left;font-weight:bolder">{{this}}</p>
                            </b>
                        </strong>
                        <form>
                            <div class="form-group">
                                <label for="answer" style="text-align: left;">Your Answer:</label>
                                <textarea class="form-control sub no-copy-paste" rows="5" id="comment"></textarea>
                            </div>
                        </form>
                        {{/each}}
                        {{/if}}
                        {{#if mques}}
                        {{#each mques}}
                        <p hidden>{{this}}</p>
                        {{#each this.data}}
                        <strong>
                            <b>
                                <p class="ques" style="text-align: left;font-weight:bolder">{{this}}</p>
                            </b>
                        </strong>
                        {{/each}}

                        <form>
                            <div class="form-group">
                                <label for="answer" style="text-align: left;">Your Answer:</label>
                                <textarea class="form-control sub no-copy-paste" rows="5" id="comment"></textarea>
                            </div>
                        </form>
                        {{/each}}
                        {{/if}}
                        {{#if jugaad}}
                        {{#each jugaad}}
                        <p hidden class="ju">{{this}}</p>
                        {{/each}}
                        {{/if}}

                    </div>
                </div>
            </div>

            <a href="/exam">
                <button class="primary btnSubmit">
                    Finish Test
                </button>
            </a>

            <p hidden class="hid">{{name}}</p>

        </header>

        <!-- Footer -->
        <footer id="footer">
            <p class="copyright">&copy; <a href="http://www.codechefvit.com/index.html">CodeChef- VIT</a>.</p>
        </footer>

    </div>

    <!-- BG -->
    <div id="bg"></div>

    <!-- Scripts -->
    <script src="js/client.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/browser.min.js"></script>
    <script src="js/breakpoints.min.js"></script>
    <script src="js/util.js"></script>
    <script src="js/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>

    <!-- Disabling refresh -->
    <script>
        function disableF5(e) { if ((e.which || e.keyCode) == 116) e.preventDefault(); };
        $(document).bind("keydown", disableF5);
        $(document).on("keydown", disableF5);
        $(document).unbind("keydown", disableF5);
        $(document).off("keydown", disableF5);
        window.history.pushState(null, "", window.location.href);
        window.onpopstate = function () {
            window.history.pushState(null, "", window.location.href);
        };
    </script>

    <script>
        timeLeft = true

        $(window).on('load', function () {
            if (timeLeft == true) {
                console.log('connected')
                // Set the date being counting down to
                var oldDateObj = new Date().getTime();
                var countDownDate = moment(oldDateObj).add(1, 'm').toDate();

                // count down updated every 1 second
                var x = setInterval(function () {

                    // today's date and time
                    var now = new Date().getTime();

                    // distance between now and the count down date
                    var distance = countDownDate - now;

                    // Time calculations for minutes and seconds
                    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                    var seconds = Math.floor((distance % (1000 * 60)) / 1000);

                    // Output the result in an element with id="demo"
                    document.getElementById("demo").innerHTML = minutes + "m " + seconds + "s ";

                    // when the count down is over display time over
                    if (distance < 0) {
                        clearInterval(x);
                        document.getElementById("demo").innerHTML = "Time Out";

                        var btnSubmit = document.querySelector('.btnSubmit')
                        var dom = document.querySelector('.dom')
                        var domTitle = document.querySelector('.dom-title')
                        var resp1 = document.querySelectorAll('.sub')
                        var ques1 = document.querySelectorAll('.ques1')
                        var ju=document.querySelectorAll('.ju')
                        var arr = []
                        var aar1=[]
                        var j;                  

                        var i
                        for(j=0;j<ques1.length;j++)
                        {
                            aar1.push(ques1[j].innerHTML)
                        }
                        for(j=0;j<ju.length;j++)
                        {
                            aar1.push(ju[j].innerHTML)
                        }
                        for (i = 0; i < aar1.length; i++) {
    
                            var newobj = {
                            ques: aar1[i],
                            answer: resp1[i].value
            
                            } 
        
                            arr.push(newobj)
                        }

                        var data = { domain: dom.innerHTML, title: domTitle.innerHTML, response: arr }

                        $.ajax({
                            url: '/storeResponse',
                            type: "POST",
                            data: { display: JSON.stringify(data) },
                            success: function (data) {
                                console.log('success')
                                window.location.href = '/exam'
                            },
                            error: function (err) {
                                console.log('error')
                            }

                        })
                    }
                }, 1000);
            }
            else {
                console.log("done with the test")
            }
        });

        $('.btnSubmit').on('click',function () {
            timeLeft = false
            console.log("Done")
        });
    </script>

</body>

</html>